{% extends 'root.html' %}
{% load static %}
{% block content %}
    <div class="profile">
        <div class="profile-image" style="background-image: url('{% static 'images/default_profile_image.png' %}')"></div>
        <div class="profile-info">
            <h2 class="profile-username">{{ user.username }}</h2>
            <p class="profile-name">Имя: <span>{{ user.name }}</span></p>
            <p class="profile-surname">Фамилия: <span>{{ user.surname }}</span></p>
            <a href="mailto:{{ user.email }}">Электронная почта: <span>{{ user.email }}</span></a>
            <p class="user_type">Вы: <span>{{ user.get_user_type_display }}</span></p>
        </div>
    </div>
    <div class="user_reviews">
        <h1>Ваши запросы</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Тип фотосессии</th>
                </tr>
            </thead>
            <tbody>
                {% for reserv in reservation %}
                    <tr>
                        <th scope="row">{{ reserv.pk }}</th>
                        <td>{{ reserv.description }}</td>
                        <td>
                            {% if reserv.phone_number == None %}
                                <p>Не указан</p>
                            {% else %}
                                <p>{{ reserv.phone_number }}</p>
                            {% endif %}
                        </td>
                        <td>{{ reserv.get_photosession_type_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}